
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
    display: flex;
}

.perviy{
    width: 25%;
}
.hwTitle{
    margin-top: 50px;
}
.hw{
    margin-top: 15px;
}