.radio {
    width: 18px;
    height: 18px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.options {
    display: flex;
    flex-direction: column;
}

.label:first-child {
    margin-top: 0px;
}

.span {
    margin-left: 13px;
}
